* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(plano-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}

#login-box{
    width: 300px;
    background-color: aliceblue;
    height: 250px;
}